[general]
SkinName = Woody's Jukebox (Touch Enabled Version)
SkinDescription = by Jay's Arcade *****touch Woody's Jukebox emblem to exit*****
SkinSize = 1920 1080
Screenshot = screenshottouch.jpg
SortSongsBy = Title
SortSongsBy = Artist
NoDuplicates = Yes
SelectButtons = ABC
SelectButtons = 123456
AutoSelect = Yes
SelectTimeout = 3 sec
SelectHoldTimeout = 3 sec
TitleStripAutoTurnTime = 1 minute
SongsPerTitleStrip = 1

TitleStripSize = 550 93
TitleStripBackground = title-strip.png

PairSongs = no
TitleStripMoveStyle = 32 1 no
SongLoadTime = 0.2 sec
SongUnloadTime = 0

ArtistDescription = ${SONG_ARTIST}
SongDescription = ${SONG_TITLE}

#ExtraDescription = ${GENRE}
#ExtraText = 3 255 255 255 255 right false -1 false -15 65 95

ArtistText = 1 255 255 255 255 center true -1 false 0 -1 330
SongText =   1 4 133 253 255 center true -1 false 0 10 400

[fonts]
File = ariblk.ttf 36
File = ariblk.ttf 30
File = ariblk.ttf 15

[spectrum]
Position = 640 60
Size = 318 222
HorizontalFlip = yes
Tint = 255 0 0 255
Band = 0 0.8 0 0
Band = 1 0.9 0 0
Band = 2 1.0 0 0
Band = 3 1.0 0 0
Band = 4 1.0 0 0
Band = 5 1.0 0 0
Band = 6 1.0 0 0
Band = 7 1.0 0 0
Band = 8 1.0 0 0
Band = 9 1.0 0 0
Band = 10 1.0 0 0
Band = 11 1.0 0 0
Band = 12 1.0 0 0
Band = 13 1.0 0 0
Band = 14 1.0 0 0
Band = 15 1.0 0 0
Band = 16 1.0 0 0
Band = 17 1.0 0 0
Band = 18 1.0 0 0
Band = 19 1.0 0 0
Bitmap = spectrum.png
Mode = scaled
Channel = left
Decay = 4

[spectrum]
Position = 960 60
Size = 318 222
Tint = 255 0 0 255
Band = 0 0.8 0 0
Band = 1 0.9 0 0
Band = 2 1.0 0 0
Band = 3 1.0 0 0
Band = 4 1.0 0 0
Band = 5 1.0 0 0
Band = 6 1.0 0 0
Band = 7 1.0 0 0
Band = 8 1.0 0 0
Band = 9 1.0 0 0
Band = 10 1.0 0 0
Band = 11 1.0 0 0
Band = 12 1.0 0 0
Band = 13 1.0 0 0
Band = 14 1.0 0 0
Band = 15 1.0 0 0
Band = 16 1.0 0 0
Band = 17 1.0 0 0
Band = 18 1.0 0 0
Band = 19 1.0 0 0
Bitmap = spectrum.png
Mode = scaled
Channel = right
Decay = 4


[title strip]
Position = 135 321
Movedelay = 0

[title strip]
Position = 135 413
Movedelay = 1

[title strip]
Position = 135 505
Movedelay = 2

[title strip]
Position = 135 595
Movedelay = 3

[title strip]
Position = 135 687
Movedelay = 4

[title strip]
Position = 135 779
Movedelay = 5

[title strip]
Position = 688 321
Movedelay = 2

[title strip]
Position = 688 413
Movedelay = 3

[title strip]
Position = 688 505
Movedelay = 4

[title strip]
Position = 688 595
Movedelay = 5

[title strip]
Position = 688 687
Movedelay = 6

[title strip]
Position = 688 779
Movedelay = 7

[title strip]
Position = 1240 321
Movedelay = 4

[title strip]
Position = 1240 413
Movedelay = 5

[title strip]
Position = 1240 505
Movedelay = 6

[title strip]
Position = 1240 595
Movedelay = 7

[title strip]
Position = 1240 687
Movedelay = 8

[title strip]
Position = 1240 779
Movedelay = 9

[bitmap]
File = foregroundtouch.png
Position = 0 0
Size = 1920 1080

[status]
Position = 0 0
Size = 1920 1080
Bitmap = paused-text.png
Contents = pause_pressed.txt

[status]
#now playing
Position = 175 118
Size = 475 150
Text = 1 4 133 253 255 center false -1 false 0 0 475
Contents = status0.txt
TimerTickPeriod = 50
LineSpacing = 4

[status]
#coming up
Position = 1270 158
Size = 475 175
Text = 1 4 133 253 255 center false -1 false 0 0 475
Contents = status1.txt
LineSpacing = 4

[status]
#select
Position = 1270 118
Size = 475 93
Text = 1 4 133 253 255 center false -1 false  0 0 475
Contents = status2.txt
LineSpacing = 16

[touch song]
Bitmap = title-strip_selected.png
Size = 550 93


[touch buttons]
AttractMode   = 474 918 159 127 auto.png
Random   = 643 918 159 127 random.png
Pause     = 1124 918 159 127 pause.png
Skip     = 1293 918 159 127 skip.png
Left     = 137 918 159 127 pageleft.png
Right    = 1631 918 159 127 pageright.png
LeftScreen     = 306 918 159 127 jumpleft.png
RightScreen    = 1462 918 159 127 jumpright.png
VolDown  = 812 918 146 127 volumedown.png
VolUp    = 958 918 157 127 volumeup.png
Quit	= 739 17 442 69